@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif; /* Clean, modern font */
}

/* Custom Urdu Font Class */
.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
}